<%= javascript_include_tag 'party', 'jqtube', 'youtube_player', 'playArtist'  %>

<style>
.left {float: left;}
.right {float: left;}
</style>

<div id="videoDiv">Loading...</div>



<input type="text" id="playArtist" value="" /><input type="button" value="Play Artist" onclick="playArtist();"/><input type="button" value="Previous Song" onclick="previousSong();" /> <input type="button" value="Next Song" onclick="nextSong();" />

<div id="result">
</div>

<hr />
<div id="video_fetch_response"></div>
<div id="lists">
 <div class="right">
   <div id="artist_tracks">

   </div>
 </div>
</div>