<%= javascript_include_tag 'party', 'jqtube', 'youtube_player', 'playArtist'  %>

<style>
    .left {float: left;}
    .right {float: left;}
    .tracks {text-decoration: underline; cursor: pointer; }
</style>

<div class="artistQueue">

</div>


    <!-- 1. The <div> tag will contain the <iframe> (and video player) -->
<div id="player"></div>




<input type="text" id="playArtist" value="" />
<input type="button" value="Add Artist" onclick="addArtistToQueue();"/>
<input type="button" value="Search Artist" onclick="searchArtist();"/>

<input type="button" value="Previous Song" onclick="previousSong();" />
<input type="button" value="Next Song" onclick="nextSong();" />


<div id="result">
</div>

<hr />
<div id="video_fetch_response"></div>
<div id="lists">
 <div class="right">
   <div id="artist_tracks">

   </div>
 </div>
</div>