$('.track_listings').html('');
counter = 0;
<% @tracks.each do |track| %>
    $('.track_listings').append("<div class='track_listing'><div class='tracks' id='track_"+counter+"'><%= track.song %></div><span class='add_playlist' id='add_"+counter+"'><img src='/images/plus_sign_small.png' alt='test' /></span></div>");
counter++;
<% end %>
<% if @condition != 'search' %>
    tmpArtist = '<%= @artist %>';
<% end %>
<% if @condition == 'updating' %>
    alert('Please wait while I update the database with your requested content.');
<% end %>

if (tmpArtistCount == artist_count)
{
    $('#track_'+global_count).addClass('active');
}
buildTmpArray('.tracks');
