$('.right').html('');
counter = 0;
<% @tracks.each do |track| %>
$('.right').append("<div class='tracks' id="+counter+"><%= track %></div>");
counter++;
<% end %>
<% if @condition != 'search' %>
tmpArtist = '<%= @artist %>';
<% end %>
buildTmpArray();
